<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Film Quotes</title>
</head>
<body>
    <h1>Film Quotes</h1>
    <div>
        <h2>"May the force be with you"</h2>
        <h3>Star Wars (1977)</h3>
    </div>
    <div>
        <h2>"I am going to make him an offer he can't refuse"</h2>
        <h3>Godfather (1972)</h3>
    </div>
    <div>
        <h2>"I see dead people"</h2>
        <h3>The Sixth Sense (1999)</h3>
    </div>
</body>
</html>